<ion-content>
  <iframe *ngIf="iframe" [src]='safeURL' frameborder="0" allowfullscreen></iframe>
  <img *ngIf="!iframe" [src]="video?.snippet?.thumbnails?.high?.url" alt="" (click)="open()">
<div padding>
  <h3>{{video?.snippet?.title}}</h3>
  <a ion-button *ngIf="!formats"  (click)="getFormats(video?.id?.videoId)">Play</a>
  <a ion-button *ngIf="downloadurl"  (click)="download(video?.id?.videoId)">Download</a>
</div>
<div class="player">
	<audio [src]="downloadurl" controls></audio>
</div>
<div padding>
<h3>Popular Video</h3>
</div>

<ion-grid *ngIf="related">
  <ion-row>
    <ion-col col-12 col-sm-6 *ngFor="let video of related; let i = index">
      <ion-card (click)="goToDetails(video)">
        <img [attr.src]="video?.snippet?.thumbnails?.medium?.url"/>
        <ion-card-content>
          <div class="card-title">
            {{video?.snippet?.title}}
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>