<ion-header>
  <ion-navbar>
    <ion-title>Search</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <form [formGroup]="searchform" (ngSubmit)="search(searchform.value)">
    <ion-list>

      <ion-item>
        <ion-label floating>Search Text</ion-label>
        <ion-input type="text" formControlName="q"></ion-input>
      </ion-item>

      <ion-item>
        <button ion-button block large>Search</button>
      </ion-item>
      
    </ion-list>
  </form>

  <ion-list>
    <ion-item *ngFor="let text of searchItems" (click)="searchText(text)">
      {{text}}
    </ion-item>
  </ion-list>
</ion-content>