<div>
  <ion-range [ngModel]="currentPos"  (ngModelChange)="onseek($event)">
    <ion-icon range-left  name="play" *ngIf="playState === 'pause' || playState === 'stop'" (click)="changeState('play')"></ion-icon>
    <ion-icon range-left  name="pause" *ngIf="playState === 'play'" (click)="changeState('pause')"></ion-icon>
    <ion-icon range-right name="square" (click)="changeState('stop')"></ion-icon>
  </ion-range>
</div>
