<ion-header>

  <ion-navbar>
    <ion-title>Video</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" [navPush]="'SearchPage'">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-12 col-sm-6 *ngFor="let video of videos; let i = index">
        <ion-card (click)="goToDetails(video)">
          <img [attr.src]="video?.snippet?.thumbnails?.medium?.url" />
          <ion-card-content>
            <div class="card-title">{{video?.snippet?.title}}</div>
            <button ion-button small color="danger">
              {{video?.id?.kind | formatkind}}
            </button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>